.contact-container
{
    margin : 30px 0px 0px 0px;
    width : 100%;
}
.contact-heading
{
    padding: 95px 0px 0px 0px;
    color : var(--first-white);
    font-weight: 700;
    letter-spacing: 0.060rem;
    word-spacing: 2px;
    font-size: clamp(40px, 8vw, 30px);
    font-family: var(--inter-font);
    transition: 0.5s all ease-in-out;
}
.contact-heading-line
{
    margin-top: 9px;
    margin-left: 1px;
    border : 2px solid var(--highlight-border);
    width : 75px;
}
.contact-detail-container
{
    margin : 40px 0px 20px 0px;
    width : 100%;
}
.contact-detail-display
{
    display: flex;
    margin-top: 20px;
    width : 100%;
}
.contact-detail-info-heading
{
    letter-spacing: 1px;
    font-family: var(--inter-font);
    font-size: 1.2rem;
    color : var(--third-white);
    letter-spacing: 0.070rem;
    font-weight: 600;
    text-transform: uppercase;
}
.contact-detail-info
{
    padding : 15px 0px 5px 0px;
    color : var(--third-white);
    font-size: 1rem;
    line-height: 1.988rem;
    letter-spacing: 0.060rem;
    font-weight: 400;
    word-spacing: 1px;
    font-family: var(--inter-font);
    transition: 0.5s all ease-in-out;
}
.contact-detail-info-display
{
    display: flex;
    padding-left: 10px;
    flex-direction: column;
}
