.header-main
{
    width: 100%;
    padding : 20px 0px;
    position: fixed;
    z-index: 10000;
    transition: 0.5s all ease-in-out;
}
.header-background
{
    background-color: black;
    transition: 0.5s all ease-in-out;
}

/* header laptop and system view */

.header-laptop-info
{
    display : flex;
}
.header-logo-name
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-my-name
{
    padding-left: 9px;
    color: #61dafb;
    font-size: 0.900rem;
    letter-spacing: 0.8px;
    word-spacing: 1px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
}
.header-list-name
{
    display: flex;
    margin-left : auto;
}
.header-list-name-style
{
    padding-left: 25px;
    padding-top: 11px;
    color : rgb(215, 218, 219);
    font-size: 0.780rem;
    letter-spacing: 1px;
    display: inline-block;
    word-spacing: 1px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
}
.header-list-name-style.active
{
    color: #61dafb !important;
}
.header-list-name-style:hover
{
    color: #61dafb;
    cursor: pointer;
}

/* header mobile view */

.header-mobile-info
{
    display: none;
    margin-left : auto;
}
.header-hamburger-logo
{
    margin-top: 25px;
    width: 40px;
    height: 40px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;  
    transition: 0.4s all ease-in-out;
}
.header-hamburger-logo-two
{
    width: 20px;
    height: 20px;
    background: url(https://i.ibb.co/rt3HybH/close.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    cursor: pointer; 
    margin-top: 25px;
    margin-right: 25px;
    margin-left: auto;
}
.header-list-dropdown-name
{
    display: none;
    position: absolute;
    position: fixed;
    top : 0;
    left : 0;
    background-color: #0d1117;
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    transform: translate(-50rem);
    z-index: 10000;
}
.header-list-dropdown-name.open
{
    transform: translate(0rem);
    z-index: 10000;
}
.header-dropdown-li-display li
{   
    display: flex;
    padding : 20px 25px;
    list-style: none;
    align-items: center;
}
.header-dropdown-li-icon
{
    color : rgb(211, 208, 208);
    font-size: 20px;
}
.header-dropdown-li-name
{
    color : white;
    font-size: 19px;
    padding-top: 7px;
    padding-left: 15px;
    font-size: 0.900rem;
    letter-spacing: 1.3px;
    display: inline-block;
    word-spacing: 1px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
}
.header-dropdown-li-name.active
{
    color : #61dafb;
}


@media(max-width:780px){
    .header-list-dropdown-name{display: block;}
    .header-logo-name{ padding-top: 5px; }
    .header-my-name{ padding-top: 7px; }
    .header-list-name{display: none}
    .header-mobile-info{display: block}
    .header-main{padding-top : 5px;padding-bottom: 10px;padding-left: 0px;padding-right: 0px}
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');