.header-main
{
    width: 100%;
    position: fixed;
    z-index: 10000;
    transition: 0.5s all ease-in-out;
}
.header-background
{
    background-color: var(--header-active-bg);
    box-shadow: var(--header-active-shadow);
    transition: 0.5s all ease-in-out;
}

/* header laptop and system view */

.header-container-display
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 10px 0px 10px 0px;
}

.header-laptop-info
{
    display : flex;
}
.header-logo-name
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-my-name
{
    padding-left: 9px;
    color: var(--primary-blue);
    font-size: .980rem;
    letter-spacing: 0.040rem;
    word-spacing: 1px;
    font-weight: 500;
    font-family: var(--Montserrat-font);
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
}

.header-nav-list
{
    display: flex;
}

.header-nav-links
{
    padding-right: 15px;
    color : var(--third-white);
}
.header-nav-item
{
    padding : 10px 15px 10px 15px;
    color : var(--third-white);
    font-size: 1rem;
    letter-spacing: 0.040rem;
    word-spacing: 1px;
    font-weight: 400;
    font-family: var(--inter-font);
    border-bottom: 2px solid transparent;
    transition: 0.5s all ease-in-out;
}
.header-nav-item.active
{
    color : var(--highlight-text);
    border-bottom: 2px solid var(--highlight-border);
}
.header-nav-item:hover
{
    cursor: pointer;
    color : var(--highlight-text);
}


@media(max-width:780px){
    .header-logo-name{ padding-top: 10px; }
    .header-my-name{ padding-top: 3px; }
    .header-container-display{ padding : 15px 0px; }
    .header-nav-list{display: none}
}

