:root {
    --header-active-bg: rgb(14 16 24, 0.4);
    --header-active-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
    --dark-first: #0E1018;
    --dark-second: #29253d;
    --first-white: #FFFFFF;
    --btn-color: #FFFFFF;
    --second-white: #9A9AA6;
    --third-white: #BCBAC4;
    --text-black: black;
    --card-bg: #141821;
    --card-border: #37415133;
    --highlight-text: #3B82F7;
    --highlight-border: #3B82F7;
    --highlight-btn-bg: #3B82F7;
    --highlight-bg: #141821;
    --highlight-icon: #3B82F7;
    --scroll-bar-bg: #757575;

    --inter-font: "Open Sans", sans-serif;
    --font-family-roboto: "Open Sans", sans-serif;
}


.main-info-css {
    min-height: 100vh;
    padding: 0px 0px;
    width: 100%;
}

.main-info-css.dark {
    background-color: var(--dark-first);
    transition: 0.4s all ease-in-out;
}

.main-info-css.white {
    --header-active-bg: #FAFBFD;
    --dark-first: #FAFBFD;
    --btn-color: #FFFFFF;
    --dark-second: #efefef;
    --first-white: #0e0d0d;
    --second-white: #545455;
    --third-white: #71717a;
    --card-bg: #ededed;
    --card-border: #dedede;
    --highlight-text: #3372EE;
    --scroll-bar-bg: #e5e2e2;

    background-color: var(--dark-first);
    transition: 0.4s all ease-in-out;
}

.overlay.active {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 120;
    transition: 0.5s all ease-in-out;
}

::-webkit-scrollbar {
    width: 7px;
    border-radius: 0px;
    background-color: var(--dark-first);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--scroll-bar-bg);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"');
