.myinfo-main
{
    width: 100%;
    padding : 130px 10px 150px 10px;
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1000' preserveAspectRatio='none' viewBox='0 0 1440 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='1000' x='0' y='0' fill='rgba(43%2c 44%2c 44%2c 1)'%3e%3c/rect%3e%3cpath d='M578.29 381.21 a14.13 14.13 0 1 0 28.26 0 a14.13 14.13 0 1 0 -28.26 0z' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M1185.61 5.68L1195.76 5.68L1195.76 15.83L1185.61 15.83z' stroke='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M1272.2 101.15L1367.79 101.15L1367.79 196.74L1272.2 196.74z' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M1183.19 461.87 a93.68 93.68 0 1 0 187.36 0 a93.68 93.68 0 1 0 -187.36 0z' stroke='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M1413.1 383a79.19 79.19 0 1 0-102.27-120.93z' stroke='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M1103.18 175.46L1119.47 175.46L1119.47 176.03L1103.18 176.03z' stroke='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M1032.09 66.74 a75.03 75.03 0 1 0 150.06 0 a75.03 75.03 0 1 0 -150.06 0z' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M1127.93 859.18 a19.14 19.14 0 1 0 38.28 0 a19.14 19.14 0 1 0 -38.28 0z' stroke='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M148.05 579.33L160.83 579.33L160.83 674.69L148.05 674.69z' stroke='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M808.3 601.44L873.83 601.44L873.83 699.64L808.3 699.64z' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M545.48 696.52a19.89 19.89 0 1 0-36.25-16.39z' stroke='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M771.83 681.39L840.05 681.39L840.05 749.61L771.83 749.61z' stroke='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M1223 948.44a76.73 76.73 0 1 0-127.27-85.75z' stroke='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M904.17 193.67a6.8 6.8 0 1 0 4.47 12.85z' stroke='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M1269.47 586.43L1305.38 586.43L1305.38 622.34L1269.47 622.34z' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M-40.94 549.4 a94.6 94.6 0 1 0 189.2 0 a94.6 94.6 0 1 0 -189.2 0z' stroke='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M1043.4 802.6L1094.15 802.6L1094.15 853.35L1043.4 853.35z' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/path%3e%3cpath d='M1421.54 410.41a96.62 96.62 0 1 0-26.67 191.39z' stroke='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
}
.myinfo-letter-container
{
    margin: 0px 0px;
    padding-top: 10px;
    width : 100%;
}
.myinfo-letter-intro
{
    padding : 10px 0px;
    color : var(--highlight-text);
    font-family: var(--inter-font);
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.010rem;
}
.myinfo-letter-heading
{
    color : var(--first-white);
    font-weight: 700;
    letter-spacing: 0.035rem;
    word-spacing: 1px;
    font-size: clamp(1.5rem, 10vw, 2.2rem);
    transition: 0.5s all ease-in-out;
}
.myinfo-letter-quote
{
    padding : 10px 0px;
    color : var(--second-white);
    font-weight: 700;
    letter-spacing: 0.050rem;
    word-spacing: 1px;
    font-size: clamp(20px, 4vw, 50px);
    transition: 0.5s all ease-in-out;
}
.myinfo-line
{
    margin : 10px auto;
    border-top: 4px solid #61dafb;
    width : 130px;
    height : 8px;
}
.myinfo-image
{
    margin-left: 50px;
}
.myinfo-letter-about
{
    padding: 25px 0px 25px 0px;
    color : var(--third-white);
    font-size: 1.1rem;
    line-height: 2.2rem;
    letter-spacing: 0.060rem;
    font-weight: 400;
    word-spacing: 1px;
    max-width: 700px;
    font-family: var(--font-family-roboto);
    transition: 0.4s all ease-in-out;
} 

.myinfo-font-icon-display
{
    display: flex;
    align-items: center;
}
.myinfo-font-icon
{
    width: 45px;
    height : 45px;
    padding-top: 8px;
    text-align: center;
    margin-right: 15px;
    color : white;
    border-radius: 50%;
    font-size: 1.7rem;
}
.myinfo-resume-btn-display
{
    margin : 20px 0px 0px 0px;
}
.myinfo-resume-btn
{
    border: 1px solid var(--highlight-border);
    width : 100%;
    padding : 12px 10px;
    border-radius: 6px;
    background-color: var(--highlight-btn-bg);
    font-family: var(--inter-font);
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.010rem;
    box-shadow: 0 8px 8px -8px rgba(0,0,0,.78);
    transition: 0.5s all ease-in-out;
}
.myinfo-resume-btn a
{
    display: inline-block;
    color : var(--first-white);
    text-decoration: none;
    transition: 0.4s all ease-in-out;
}
.myinfo-resume-btn:hover
{
    cursor: pointer;
    background-color: transparent;
}
.myinfo-resume-btn a:hover
{
    color: var(--highlight-text);
}
.myinfo-resume-btn:focus
{
    outline : none;
}
@media(max-width:370px){
    .myinfo-letter-heading{font-size: 2rem;}
}
@media(max-width:780px){
    .myinfo-main{padding-top : 150px; width: 100%; padding-bottom: 20px;padding-left: 5px;padding-right: 5px;margin-top: -3px;}
}
