.myinfo-main
{
    width: 100%;
    padding : 130px 10px 150px 10px;
}
.myinfo-letter-container
{
    padding-top: 10px;
    width : 100%;
}
.myinfo-letter-intro
{
    padding : 10px 0px;
    color : var(--primary-blue);
    font-family: var(--inter-font);
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.050rem;
}
.myinfo-letter-heading
{
    color : var(--third-white);
    font-weight: 600;
    letter-spacing: 0.175rem;
    word-spacing: 1px;
    font-size: clamp(40px, 8vw, 80px);
    transition: 0.5s all ease-in-out;
}
.myinfo-letter-quote
{
    padding : 10px 0px;
    color : var(--second-white);
    font-weight: 700;
    letter-spacing: 0.050rem;
    word-spacing: 1px;
    font-size: clamp(20px, 4vw, 50px);
    transition: 0.5s all ease-in-out;
}
.myinfo-line
{
    margin : 10px auto;
    border-top: 4px solid #61dafb;
    width : 130px;
    height : 8px;
}
.myinfo-letter-coding
{
    padding: 15px 0px;
    color : rgb(215, 218, 219);
    font-size: 15px;
    font-style: italic;
    word-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s all ease-in-out;
}
.myinfo-letter-about
{
    padding: 15px 0px 25px 0px;
    color : var(--third-white);
    font-size: 1.1rem;
    line-height: 2rem;
    letter-spacing: 0.060rem;
    font-weight: 400;
    word-spacing: 1px;
    max-width: 700px;
    font-family: var(--inter-font);
    transition: 0.5s all ease-in-out;
} 

.myinfo-font-icon-display
{
    display: flex;
    align-items: center;
}
.myinfo-font-icon
{
    width: 45px;
    height : 45px;
    padding-top: 8px;
    text-align: center;
    margin-right: 15px;
    color : white;
    border-radius: 50%;
    font-size: 1.7rem;
}
.myinfo-resume-btn-display
{
    margin : 45px 0px 0px 0px;
}
.myinfo-resume-btn
{
    border: 1px solid var(--primary-blue);
    width : 100%;
    padding : 12px 10px;
    border-radius: 6px;
    background-color: var(--dark-first);
    font-family: var(--inter-font);
    font-size: 1.050rem;
    font-weight: 400;
    letter-spacing: 0.060rem;
    box-shadow: 0 8px 8px -8px rgba(0,0,0,.78);
    transition: 0.5s all ease-in-out;
}
.myinfo-resume-btn a
{
    display: inline-block;
    color : var(--first-white);
    text-decoration: none;
    transition: 0.4s all ease-in-out;
}
.myinfo-resume-btn:hover
{
    cursor: pointer;
}
.myinfo-resume-btn a:hover
{
    color: var(--primary-blue);
}
.myinfo-resume-btn:focus
{
    outline : none;
}
@media(max-width:370px){
    .myinfo-letter-heading{font-size: 2rem;}
}
@media(max-width:780px){
    .myinfo-main{padding-top : 150px; width: 100%; padding-bottom: 20px;padding-left: 5px;padding-right: 5px;margin-top: -3px;}
}
