.project-container
{
    margin : 85px 0px 30px 0px;
    width : 100%;
}
.project-heading
{
    padding-bottom: 20px;
    color : var(--first-white);
    font-weight: 500;
    letter-spacing: 0.050rem;
    word-spacing: 1px;
    font-size: 1.8rem;
    font-family: var(--inter-font);
    transition: 0.5s all ease-in-out;
}

/* Project card container */

.project-card-container
{
    margin : 25px 0px;
}
.project-card
{
    margin-top: 20px;
    padding : 2rem 1.75rem;
    background-color: #192431;
    height : 95%;
    border-radius: 8px;
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
}
.project-card-top-display
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.project-card-top-folder-icon
{
    font-size: 2.1rem !important;
    color : var(--primary-blue) !important;
   
}
.project-card-top-font-icon
{
    padding-right: 20px;
    font-size: 1.1rem !important;
    color : var(--third-white) !important;
    transition: 0.4s all ease-in-out;
    font-weight: 400;
    cursor: pointer;
}
.project-card-top-font-icon2
{
    font-size: 1.1rem !important;
    color : var(--third-white) !important;
    transition: 0.4s all ease-in-out;
    font-weight: 400;
    cursor: pointer;
}
.project-card-top-font-icon:hover
{
    color : var(--primary-blue) !important;
}
.project-card-top-font-icon2:hover
{
    color : var(--primary-blue) !important;
}
.project-card-title
{
    font-family: var(--inter-font);
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 2.275rem;
    letter-spacing: 0.060rem;
    text-transform: uppercase;
    color : var(--third-white);
    transition: 0.5s all ease-in-out;
}
.project-card-heading-line
{
    margin-top: 5px;
    margin-left: 2px;
    border : 2px solid #61dafb;
    width : 70px;
}
.project-card-description
{
    padding : 10px 0px 5px 0px;
    color : var(--third-white);
    font-size: 0.850rem;
    line-height: 2rem;
    letter-spacing: 0.050rem;
    font-weight: 400;
    word-spacing: 1px;
    font-family: 'Inter', sans-serif;
    transition: 0.5s all ease-in-out;
}
.project-card-tech-stack
{
    padding : 15px 0px 10px 0px;
    color : var(--primary-blue);
    font-size: 0.750rem;
    line-height: 1.988rem;
    letter-spacing: 0.060rem;
    font-weight: 400;
    word-spacing: 1px;
    font-family: var(--inter-font);
    transition: 0.5s all ease-in-out;
}
.project-card-tech-stack-language
{
    display: inline-block;
    word-spacing: 2px;
    color : var(--primary-blue);
}
.project-card-source-code-icon
{
    margin-top: -3px;
    margin-left: 10px !important;
    font-size: 20px !important;
}
.project-card-website-link
{
    margin : 15px 6px 5px 6px;
    border: 1px solid #525353;
    width : 97%;
    padding : 12px 10px;
    border-radius: 6px;
    background-color: #202124;
    color : white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.820rem;
    font-weight: 400;
    letter-spacing: 0.080rem;
    transition: 0.5s all ease-in-out;
}
.project-card-website-link:hover
{
    box-shadow: 0 8px 8px -8px rgba(0,0,0,.78);
        background-color: #525353;
}
.project-card-website-link a
{
    display: inline-block;
    color : whitesmoke;
    text-decoration: none;
}
.project-card-website-link:focus
{
    outline : none;
}
.project-card-more-website-btn
{
    margin : 45px 6px 15px 6px;
    border: 1px solid var(--primary-blue);
    width : 97%;
    padding : 12px 10px;
    border-radius: 6px;
    background-color: transparent;
    color : var(--first-white);
    font-family: var(--inter-font);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.070rem;
    transition: 0.5s all ease-in-out;
    box-shadow: 0 8px 8px -8px rgba(0,0,0,.78);
} 
.project-card-more-website-btn:hover
{
    color : var(--primary-blue);
    cursor: pointer;
}
.project-card-more-website-btb:focus
{
    outline: none;
}
.project-card-more-website-btn a
{
    display: inline-block;
    color : var(--first-white);
    text-decoration: none;
    transition: 0.5s all ease-in-out;
}
.project-card-more-website-btn a:hover
{
    color : var(--primary-blue);
}
.project-skill-head-resume
{
    letter-spacing: 0.4px;
    font-family: var(--inter-font);
    font-size: 1.5rem;
    color : var(--third-white);
    line-height: 2.1rem;
    font-weight: 600;
}
.project-skill-head-subheading
{
    padding: 25px 0px 25px 0px;
    color : var(--third-white);
    font-size: .950rem;
    line-height: 2rem;
    letter-spacing: 0.060rem;
    font-weight: 400;
    word-spacing: 1px;
    font-family: var(--inter-font);
    transition: 0.5s all ease-in-out;
}

@media(max-width:370px){
    .project-card-title{font-size: 1.5rem;}
    .project-card{padding:30px 8px}
}
