.resume-container
{
    margin : 85px 0px 30px 0px;
    width : 100%;
    transition: 0.5s all ease-in-out;
}
.resume-heading
{
    padding-bottom: 20px;
    color : var(--first-white);
    font-weight: 500;
    letter-spacing: 0.050rem;
    word-spacing: 1px;
    font-size: 1.8rem;
    font-family: var(--inter-font);
    transition: 0.5s all ease-in-out;
}
.education-list
{
    display: flex;
    flex-direction: column;
}
.education-details
{
    margin-left: 14px;
    padding-bottom: 20px;
    border-left: 3px solid var(--dark-second);
}
.hr-resume
{
    margin-top: 30px;
    border-color: #1e2227;
}
.education-name-resume
{
    margin-top: 40px;
    letter-spacing: 0.4px;
    font-family: var(--inter-font);
    font-size: 1.5rem;
    color : var(--third-white);
    line-height: 2.1rem;
    font-weight: 600;
}
.education-name-line
{
    margin-top: 8px;
    margin-left: 1px;
    border : 1px solid #61dafb;
    width : 45px;
}
.education-type-display
{
    margin-top: 60px;
    display: flex;
}
.education-type1-display
{
    margin-top: 0px;
    display: flex;
}
.education-year-btn
{
    border-radius: 24px;
    box-shadow: 0 3px 15px rgba(18, 12, 22, 0.16), 0 3px 15px rgba(13, 13, 15, 0.23);
    display: inline-block;
    border: 1px solid var(--primary-blue);
    padding : 2px 14px;
    text-align: center;
    font-size: .9rem;
    color : var(--primary-blue);
    font-weight: 500;
    letter-spacing: 0.050rem;
    font-family: var(--inter-font);
}
.education-type-resume
{
    padding-top: 3.4px;
    padding-left: 15px;
    font-family: var(--inter-font);
    color : var(--second-white);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.035rem;
}
.education-clg-name-resume
{
    padding-top: 20px;
    padding-left: 30px;
    font-family: var(--inter-font);
    font-size: 1.010rem;
    word-spacing: 1px;
    letter-spacing: 0.050rem;
    color : var(--first-white);
    font-weight: 400;
}
.education-clg-degeree-resume
{
    padding-top: 14px;
    padding-left: 30px;  
    font-family: 'Inter', sans-serif;
    font-size: 0.920rem;
    letter-spacing: 0.030rem;
    word-spacing: 1px;
    line-height: 1.855rem;
    font-weight: 300;
    color : #b8c3d3;
}
.education-clg-mark-resume
{
    padding-top: 15px;
    padding-left: 30px;    
    font-size: 0.780rem;
    font-family: 'Montserrat', sans-serif;  
    letter-spacing: 0.4px;
    font-weight: 500;
    color : #b8c3d3;
}
.experience-year-btn
{
    width : 120px;
    height : 30px;
    border-radius: 24px;
    box-shadow: 0 3px 15px rgba(18, 12, 22, 0.16), 0 3px 15px rgba(13, 13, 15, 0.23);
    background-color: #222; 
    display: inline-block;
    padding-top: 3px;
    text-align: center;
    font-size: 15px;
    color : white;
    border: 2px solid #007ced;
    font-family: 'Nunito', sans-serif;
}


/* coding skills css */

.coding-skill-head-resume
{
    margin-top: 70px;
    letter-spacing: 0.4px;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    color : var(--third-white);
    font-weight: 600;
}
.coding-skill-head-subheading
{
    padding : 30px 0px;
    letter-spacing: 0.040rem;
    word-spacing: 0.040rem;
    font-family: var(--inter-font);
    font-size: 1rem;
    color : var(--third-white);
    line-height: 200%;
    font-weight: 300;
}
.coding-skill-container
{
    margin : 20px 0px;
    background-color: var(--dark-second);
    border-radius: 0.5rem;
    padding : 30px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s all ease-in-out;
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
}
.coding-skill-logo
{
    color : var(--primary-blue);
    text-align: center;
    width : 2.6rem;
    height : 2.6rem;
    font-size: 2rem;
    border-radius: 50%;
}
.coding-skill-name
{
    padding-top : 25px;
    letter-spacing: 0.040rem;
    word-spacing: 1.3px;
    font-family: var(--inter-font);
    font-size: 0.900rem;
    color : var(--third-white);
    font-weight: 400;
}
@media(max-width:370px){
    .education-year-btn{padding : 1px 7px}
}
@media(max-width:780px){
    .about-container{padding : 0px 0px;}
}
